*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Baskervville SC', cursive;
}

header{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;
}

.logo{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

img{
    height: 85px;
    width: 85px;
}

button{
    border: none;
    font-family: 'Baskervville SC', cursive;
    font-size: 20px;
    background-color: white;
}

#showcase{
    border-collapse: collapse;
    width: 100%;
    font-family: 'Baskervville SC', cursive;
    font-size: 12px;
}

#showcase td, #showcase th {
    border: 1px solid #ddd;
    padding: 8px;
}

#showcase th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gold;
    color: whit;
}

#showcase tr:nth-child(odd){background-color: gray;}




.titles{
    background-color: gray;
}

