*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Baskervville SC', cursive;
}
h1{
    padding-top: 55px;
    top: 0;
    left: 0;
    font-size: smaller;
}
body {
    font-family: 'Baskervville SC', cursive;
    margin: 0;
    padding-bottom: 100;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent scrolling */
}
.logo {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    max-height: 150px; /* Optional: Limit the height */
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Add some padding for spacing */
    background-color: #f8f9fa; /* Optional background color */
}
